body {
  margin: 0;
  padding: 0;
}

.devices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 20px;
}

.devices .digivice {
  width: 300px;
  position: relative;
}

.digivice img {
  width: 100%;
}

.digivice button {
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
}

.digivice button:hover {
  background-color: rgba(83, 132, 214, .5);
}

.digivice .btn-evolution {
  top: 106px;
  left: 17px;
  width: 58px;
  height: 58px;
}

.digivice .btn-prev,
.digivice .btn-next {
  width: 52px;
  height: 36px;
}

.digivice .btn-prev {
  top: 81px;
  right: 26px;
}

.digivice .btn-next {
  top: 148px;
  right: 25px;
}

.crests {
  margin: 20px;
  position: relative;
}

.crests .tag {
  height: 350px;
}

.crest {
  position: absolute;
  background-color: orange;
  top: 169px;
  left: 42px;
  width: 100px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 51px;
}

.icon.courage {
  fill: red;
}